*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

table{
    color: black;
    margin: auto;
    border: 5px;
    background: rgb(129, 129, 235);
    margin-top: 50px;
    }

    body {
        font-family: 'Times New Roman', Times, serif; 
    }
 